#navigation {
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
    overflow: auto;
}

#navigation li {
    float: left;
    border: 1px solid gray;
    padding: 0 0.5em;
    margin-right: 0.5em;
}

div.child {
    border: 1px solid black;
    margin-bottom: 1em;
    overflow: auto;
    padding: 0.5em;
}

div.child div.actions {
    float: left;
    width: 10em;
}

div.child div.child_content {
    margin-left: 10em;
}

div.child div.folder a {
    font-size: 150%;
}
